- content_for :title do
  Moluko - Administrator - Edit
  = h @theme.name

.breadcrumb
  %ul
    %li Administrator
    %li &raquo;
    %li= link_to "Predefined Theme", themes_path
    %li &raquo;
    %li
      Edit
      = h @theme.name

.content
  %h2
    Edit
    = h @theme.name
    =# link_to "delete", @category, :title => "delete", :method => "delete", :confirm => "Are you sure you want to delete this category?", :style => "color: #f00; font-size: 0.5em;"
  = render "form", :button_title => "Update"
