- content_for :title do
  Moluko - Shop Histories

.breadcrumb
  %ul
    %li Administrator
    %li &raquo;
    %li= link_to 'Dashboard', dashboard_path
    %li &raquo;
    %li All Shop Histories

.content
  %h2 All Shop Histories

  = page_entries_info @shop_histories
  %br/
  %br/
  = will_paginate @shop_histories
  %br/
  %table.global
    %thead
      %tr
        %th Email
        %th Shop
        %th Date
        %th Controller
        %th Action
        %th Params
    %tbody
      - @shop_histories.each do |shop_history|
        %tr
          %td= link_to shop_history.shop.user.email, user_user_histories_path(shop_history.shop.user)
          %td= link_to shop_history.shop.name, shop_shop_histories_path(shop_history.shop)
          %td= shop_history.created_at.to_s(:long)
          %td= shop_history.controller
          %td= shop_history.action
          %td= h shop_history.params
  %br/
  = will_paginate @shop_histories
  %br/
