- content_for :title do
  Moluko - Add New User

.breadcrumb
  %ul
    %li User Management
    %li &raquo;
    %li Add New User

.content
  %h2 Add New User
  = form_for @user do |f|
    - unless flash[:error].nil?
      .info.error= flash[:error]
    = f.label :email
    = f.text_field :email
    = f.label :password
    = f.password_field :password
    = f.label :password_confirmation
    = f.password_field :password_confirmation

    %div{ :style => "clear: both;" }
    = link_to_function "Save", "$(this).parent().submit();", :class => "button"
    = link_to "Cancel", users_path, :class => "button"
