- content_for :body_bottom do
  :javascript
    $(":input:visible:enabled:first").focus();

= form_for @shop_page do |f|
  = f.label :name
  = f.text_field :name
  = f.label :page, "Page Content"
  = f.text_area :page, :size => "100x20"

  %div{:style => "clear: both;"}
  = link_to_function button_title, "$(this).parent().submit();", :class => "button"
  = link_to "Cancel", shop_pages_path, :class => "button"
