- content_for :title do
  Moluko - Edit
  = h @country.name

.breadcrumb
  %ul
    %li Administrator
    %li &raquo;
    %li= link_to "Countries", countries_path
    %li &raquo;
    %li
      Edit
      = h @country.name

.content
  %h2
    Edit
    = h @country.name
  = render 'form', :button_title => 'Save'
