- content_for :body_bottom do
  :javascript
    $(":input:visible:enabled:first").focus();

= form_for @category do |f|
  - unless flash[:error].nil?
    .info.error= flash[:error]
  = f.label :name, "Name:"
  = f.text_field :name, :class => "small-input"

  %div{:style => "clear: both;"}
  = link_to_function button_title, "$(this).closest('form').submit();", :class => "button"
  = link_to "Cancel", categories_path, :class => "button"
